{% extends "base.html" %}

{% block content %}


<!-- Main Body -->
<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-5 col-md-6 col-12 pb-4">
              <h1>Comments</h1>
              {% for review in reviews %}
              <div class="comment mt-4 text-justify float-left">
                  <h4>{{review.name}}</h4>
                  <span>{{review.date_created.date()}}</span>
                  <br>
                  <p>{{review.msg}}</p>
              </div>
              {% endfor %}
          </div>
          <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" >
              <form id="algin-form" action="/reviews" method="POST">
                  <div class="form-group">
                      <h4>Leave a comment</h4>
                      <label for="message">Message</label>
                      <textarea name="msg" id=""msg cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="name" >Name</label>
                      <input type="text" name="name" id="fullname" class="form-control" value = "{{name}}" required>
                  </div>
                  
                  
                  <div class="form-group" pad = 20 style = "padding: 20px;">
                      <button class = "button" type="submit" id="post" class="btn">Post Comment</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>{% endblock %}